header section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--text-md);
}

.profile{
  display: flex;
  padding-block: 32px;
  gap: 32px;
}


.description{
  width: 384px;
  height: 168px;
}

.description h1{
  color: var(--text-color-primary);
  font: var(--text-lg);
  margin-bottom: 8px;
}

.description p{
}

#info{
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 16px;
  width: 280px;
}

#info li{
  display: flex;
  align-items: center;
  gap: 8px;
}


